@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins',sans-serif;
}
body {
    font-family: 'Poppins',sans-serif;
}
main{
    display: flex;
    background-color: #353535;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 900px;
}
nav {
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lista {
    margin: 0;
    padding: 10px;
    display: flex;
    list-style: none;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}
.lista a,li {
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.2s;
    font-size: large;
    font-weight: bold;
    align-self: center;
}
.lista a:hover {
    color: transparent;
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
}
.lista a:visited {
    color: whitesmoke;
}
#img {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.iconomenu {
    cursor: pointer;
    font-size: 25px;
    color: whitesmoke;
    transition: transform 0.3s ease, color 0.3s ease;
}
.iconomenu.rotar {
    color: transparent;
    background: linear-gradient(to right,blue,purple);
    -webkit-background-clip: text;
    background-clip: text;
}
.opciones {
    background-color: #1E1E1E;
    position: absolute;
    margin: 200px 0 0 1670px ;
    display:none;
    flex-direction: column;
    text-align: justify;
    border-radius: 15px;
}
.img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.avatar img {
    margin-left: 20px;
}
table {
    border-spacing: 15px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom:30px;
}
td {
    padding: 10px;
    text-align: left;
    color: whitesmoke;
}
td input {
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
td input:focus {
    outline: none;
}
.botonesinfo {
    text-align: center;
}
table tr td button, .avatar form button {
    width: 200px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    transition: background 0.2s ease, color 0.2s ease;
}
table tr td button:hover, .avatar form button:hover {
    background: linear-gradient(to right,blue,purple);
    color: whitesmoke;
}
footer {
    background-color: #1E1E1E;
    color: white;
    text-align: center;
    padding: 10px;
}
#error {
    font-size: 12px;
    color: red;
}
#ok {
    font-size: 12px;
    color: green;
}
#mandaravatar {
    margin-top: 10px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
.popup p {
    text-align: center;
    color: whitesmoke;
}
.popup button {
    border: none;
    border-radius: 5px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}
.limite {
    display: none;
    width: 100%;
    height: 106vh;
    background-color: #1E1E1E;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0px;
}
@media (max-width: 1260px) {
    body {
        overflow: hidden;
    }
    .limite {
        display: flex;
        position: absolute;
    }
    footer {
        display: none;
    }
}
@media (max-width: 768px) {
    .lista {
        display: flex;
    }
}
